<div
  class="container"
  style="
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <form class="border border-secondary rounded py-4" style="width: 60%;" method="post" action="/login">
    <div class="container">
       <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" name="email" id="form2Example1" class="form-control" />
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" name="password" id="form2Example2" class="form-control" />
      </div>
  
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
      </div>
    
  </form>
  <a class="pt-2" href="/ragister   ">Create Account</a>

</div>
